body {
  background-color: #F8F8FA;
}

.alert {
  margin-bottom: 5px;
  padding: 12px 15px;
  color: #5b5553;
  font-size: 14px;
  background-color: #fdf3ef;
  text-align: center;
}

.ant-pro-grid-content {
  margin: 0 auto;
  max-width: 1280px;
}

.ant-page-header-content {
  max-width: 1280px;
}

.ant-pro-basicLayout-content {
  margin: 0;
}

.ant-pro-basicLayout-content .ant-pro-page-container {
  margin: 0
}

.ant-pro-grid-content {
  padding-top: 15px;
}

.ant-pro-global-footer {
  margin-bottom: 0;
}

.ant-pro-global-footer-copyright {
  padding: 40px 0;
  line-height: 20px;
}

.contentmain {
  padding-bottom: 100px;
}

.ant-pro-global-footer {
  margin: 0 !important;
  background: #1f2221 !important;
}

.ant-pro-global-footer-copyright {
  color: #696d85 !important;
}

.placeholder {
  height: 120px;
}